<h3>Apartment Listings</h3>
<p>Address: <%= @apt_listing.address if @apt_listing.address %></p>
<p>Beds: <%= @apt_listing.rooms if @apt_listing.rooms %></p>
<p>Baths: <%= @apt_listing.baths if @apt_listing.baths %></p>
<p>Lease Start Date: <%= @apt_listing.date if @apt_listing.date %></p>
<p>Things to Know: <%= @apt_listing.details if @apt_listing.details %></p>
